@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject IJSRuntime JSRuntime
<div class="sidebar">
    <NavMenu />
</div>

<div class="main bg-white">
    <div class="top-row px-4">
        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    <div>Hola, @context.User.Identity.Name!</div>
                    <a href="/api/Account/logOut">Log Out</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/api/Account/DoChallenge?redirectUri=@Navigation.Uri">Log In</a>
                </NotAuthorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code{

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await JSRuntime.InvokeVoidAsync("setTitle", "Udemy Portfolio");
    }
}


