@inherits LayoutComponentBase
@inject NavigationManager Navigation


<div class="main">
    <div class="top-row profile px-4">

        <a href="/" class="without-color">
            Udemy Portfolio
        </a>

        <CascadingAuthenticationState>
            <AuthorizeView>
                <Authorized>
                    <div>Hello, @context.User.Identity.Name!</div>
                    <a href="/api/Account/logOut">Log Out</a>
                </Authorized>
                <NotAuthorized>
                    <a href="/api/Account/DoChallenge?redirectUri=@Navigation.Uri">Log In</a>
                </NotAuthorized>
            </AuthorizeView>
        </CascadingAuthenticationState>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>