@page "/admin/certificates"
@attribute [Authorize]
@inject NavigationManager Navigation
@layout AdminLayout

@if (Admin.User != null)
{
    <a class="btn btn-primary" role="button" href="/Profile/@Admin.Identifier" target="_blank">Comparte Tu Portfolio</a>

    <TableCertificate></TableCertificate>
}

@code{
    [CascadingParameter]
    public AdminLayout Admin { get; set; }

    protected override void OnInitialized()
    {
        if (Admin.User == null)
        {
            Navigation.NavigateTo("/Admin");
        }
        else
        {
            base.OnInitialized();
        }
    }
}