@page "/admin/categories"
@attribute [Authorize]
@inject NavigationManager Navigation
@layout AdminLayout

@if (Admin.User != null)
{
    <a class="btn btn-primary" role="button" href="/Admin/AddCategory">Agregar Categoria</a>
    <TableCategory></TableCategory>
}

@code{
    [CascadingParameter]
    public AdminLayout Admin { get; set; }

    protected override void OnInitialized()
    {
        if (Admin.User == null)
        {
            Navigation.NavigateTo("/Admin");
        }
        else
        {
            base.OnInitialized();
        }
    }
}